.main-container {
  margin-top: 20px;
}

.status-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.light-column {
  width: 230px;
}

@media (max-width: 600px) {
  .light-column {
    width: 50px;
    position: relative;
  }

  .light-column img {
    position: absolute;
    top: 0;
    right: 0px;
  }

}


html, body {
  min-width: 600px;
}

.custom-schedule-container {
  max-width: 300px;
}


.schedule-row {
  display: flex;
}

.schedule-row-time {
  /*outline: 1px solid red;*/
  width: 100px;
  text-align: right;
}

.schedule-row-bar {
  width: 20px;
  border-left: 1px solid #656565;
  border-right: 1px solid #656565;
  background-color: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-row-bar-top {
  height: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #656565;
  border-bottom-width: 0;
}

.schedule-row-bar-top-today {
  height: 1px;
}

.schedule-row-bar-bottom {
  height: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #656565;
  border-top-width: 0;
}

.schedule-row-spacer {
  height:35px;
}

.schedule-row-spacer .schedule-row-bar {
  background: linear-gradient(
    to bottom,
    #c1c1c1,
    #c1c1c1 50%,
    white 50%,
    white
  );
  /* The rectangle in which to repeat. 
     It can be fully wide in this case */
  background-size: 100% 10px;
}

.schedule-row-light {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 1px solid black;
} 

.schedule-row-light-red {
  background-color: #ff5252;
}

.schedule-row-light-yellow {
  background-color: #fdfd5f;
}

.schedule-row-light-green {
  background-color: #6bff6b;
}

.schedule-row-desc {
  margin-left: 10px;
}


.button-chart {
  width: 400px;
  height: 200px;
  border-bottom: 1px solid black;
  display: flex;
  position: relative;
  align-items: flex-end;

}

.button-chart-none {
  /*align-self: center;*/
}

.button-chart-bar {
  background-color: #63c1a0;
  /*   border: 1px solid red; */
  flex-grow: 1;
  height: 75%;
  margin: 1px;
  position: relative;
  /* margin-left: 2px; */
  /* margin-right: 3px; */
}

.button-chart-bar-count {
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.button-chart-bar-divider {
  position: relative;
  width: 1px;
  height: 100%;
}

.button-chart-bar-divider-marker {
  position: absolute;
  top: 0;
  left: 0;
  bottom:-30px;
  width: 2px;
  border-left: 1px solid #717171;
}

.button-chart-bar-divider-label {
  font-size: 12px;
  width: 100px;
  position: absolute;
  bottom: -25px;
  left: 3px;
}

